.profile {
    margin: 20px 0;

    &__btn {
        padding: 12px 20px 12px 12px;
        border-radius: 8px;
        box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.16);
        border: solid 0.5px #e4e4e4;
        background-color: #ffffff;
        cursor: pointer;

        &--profile {
            margin-right: 10px;
        }

        &--name {
            color: #000;
            font-size: 14px;
        }

        &--icon {
            display: block;
        }
    }
}