.search {
    input {
        width: 161px;
        padding: 6px 86px 6px 8px;
        border-radius: 14px;
        border: solid 0.5px #d7d7d7;
        background-color: #efefef;
        outline: none;
        font-size: 13px;
        color: #000;
    }
}