

<div class="category">
    <div class="category__title bold">Projects</div>
    <ul class="category__list">
        <li class="category__list--item">
            <a href="" class="category__list--link d-flex align-items-center justify-content-between medium">
                <div class="d-flex align-items-center">
                    <img src="img/bar/menu-icon/project.svg" alt="" class="category__list--icon">
                    <span class="category__list--name">My Projects</span>
                </div>
                <div class="category__list--counter">
                    6
                </div>
            </a>
        </li><!-- category item end  -->

        <li class="category__list--item">
            <a href="" class="category__list--link d-flex align-items-center justify-content-between medium">
                <div class="d-flex align-items-center">
                    <img src="img/bar/menu-icon/project.svg" alt="" class="category__list--icon">
                    <span class="category__list--name">My Projects</span>
                </div>
                <div class="category__list--counter">
                    6
                </div>
            </a>
        </li><!-- category item end  -->
    </ul>
</div><!-- category end -->